tp2/src/xsd/banqueservice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/banqueservice"
	xmlns:tns="http://www.example.org/banqueservice"
	elementFormDefault="qualified">
	<element name='BS'>
		<complexType>
			<sequence>
				<element name="conversion" type="tns:conversiontype"></element>
			</sequence>
		</complexType>
	</element>
	<complexType name="conversiontype">
		<sequence>
			<element name="montant" type="double"></element>
		</sequence>
	</complexType>

</schema>